*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    height: 10rem;
   
}

body{
    background-color: #0a2848;
    color: floralwhite;
}
.Light-Mode{
    background-color: floralwhite;
    color: #0a2848;
}
#start.Light-Mode-Btn{
    color: white;
    background: rgb(0, 0, 0);
}
#start.Light-Mode-Btn::before{
    background: rgb(0, 0, 0);
}
h1.Light-Mode{
background-color: white;
}
.Content.Light-Mode{
    background-color: rgb(255, 255, 255);

}
.Content .Fråga.Light-Mode{
    border-color: black;
}

#start{
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 3em;
    letter-spacing: .1em;
    outline: none;
    padding: .75em 2em;
    position: relative;
    text-transform: uppercase;
    height: 8rem;
    width: 24rem;
    text-align: center;
}
#start:hover{
    animation: glow 1s ease-in infinite;
}
#start::before{
    animation: glow 1s ease-in infinite;
    background: rgb(255, 255, 255);
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}
#start:hover::before{
    filter: blur(20px);
    opacity: 1;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
}
.Content{
    transition: 1s ease;
    position: absolute;
    height: 45rem;
    width: 50rem;
    background: rgb(1, 11, 50);
    z-index: 2;
    border: solid 1px white;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    flex-direction: column;
}
.Content div{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
align-items: center;
}
.Content .MoneyDiv{
    transition: 1s ease;
    background: rgb(140, 140, 51);
    height: 6rem;
    width: 34rem;
    border-radius: 40%;
    font-size: 2.8rem;
    text-align: center;
}
.Content .Fråga{
    transition: 1s ease;
    border: solid 1px white;
    background: rgba(255, 255, 255, 0.038);
    height: 6rem;
    width: 40%;
    border-radius: 40%;
    font-size: 2.8rem;
    text-align: center;
    


}
#CloseBtn{
    background-color: rgb(255, 69, 69);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0%;
    padding: 0;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: none;
    border: solid black 2px;
    transition: all 1s ease;
}
div button{
    height: 2rem;
    width: 8rem;
    border: none;
    background-color: rgb(35, 231, 0);
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
div button:last-child{
    background-color: red;
}

div button:hover{
    cursor: pointer;
}
h1{
    font-size: 2rem; 
}
#Light{
border-radius: 50%;
height: 4rem;
width: 4rem;
border: solid black 3px;
background: linear-gradient(to right,black 50%, white 50%);
}
#Light:hover{
    cursor: pointer;
}
#Light.Mode{
    background: linear-gradient(to right,rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
    

}
label{
    font-size: 1rem;
}
input{
    margin-right: 1rem;
}
#röd{
    color: red;
}
#gul{
    color: rgb(217, 255, 0);
}
#grön{
    color: rgb(60, 255, 0);
}
#SvarDiv{
    flex-direction: column;
}
li{
    margin-bottom: 1rem;
}
ul{
    margin-top: 1rem;
}
#rättSvar{
    background-color: green;
}
#felSvar{
    background-color: red;
}
h3{
    color: rgb(255, 64, 64);
    font-size: 2rem;
}
